<ion-header [translucent]="true">
  <ion-toolbar>
    <div style="display: flex;">
      <img src="/assets/img/Logo.png" alt="Logo" style="height: 50px; margin-right: 10px;" [routerLink]="['/home']"
        (click)="showLoading()">
      <ion-title>Recuperar Contraseña</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="onResetPassword()" #resetPasswordForm="ngForm">
    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input 
        type="email" [(ngModel)]="email" 
        name="email" 
        required 
        email 
        #emailInput="ngModel">
      </ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="emailInput.invalid && emailInput.touched">
      Correo electrónico inexistente.
    </ion-note>

    <ion-button expand="block" type="submit" [disabled]="resetPasswordForm.invalid">
      Recuperar
    </ion-button>
  </form>
</ion-content>