<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="secondary">
  <ion-header collapse="condense">
    <ion-toolbar style="margin-top: 20px;">
      <ion-title size="large">Iniciar Sesión</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card-content>
    <form (submit)="onLogin()">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
      </ion-item>
      <ion-button expand="full" type="submit">Iniciar Sesión</ion-button>
    </form>
    <ion-item>
      <ion-button fill="clear" routerLink="/register">¿No tienes una cuenta? Regístrate</ion-button>
    </ion-item>
  </ion-card-content>
</ion-content>