<ion-header [translucent]="true">
  <ion-toolbar>
    <div style="display: flex;">
      <img src="/assets/img/Logo.png" alt="Logo" style="height: 50px; margin-right: 10px;" [routerLink]="['/home']"
        (click)="showLoading()">
      <ion-title>Inicio</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Canchas DUOC UC</ion-card-title>
      <ion-card-subtitle>Av. Calle Local 0552</ion-card-subtitle>
      
    </ion-card-header>
    <ion-card-content>
      <p>8 canchas de futbol existentes</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Multicancha Valle lo Campino</ion-card-title>
      <ion-card-subtitle>Av. Valle lo Campino Norte 555</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>1 Multicancha existente</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Gimnasio Municipal de Quilicura</ion-card-title>
      <ion-card-subtitle>Av. Diego Silva 2521</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>1 Multicancha existente</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Gimnasio EntreTiempo</ion-card-title>
      <ion-card-subtitle>Av. Ejercito Libertador 341</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>1 Multicancha existente</p>
    </ion-card-content>
  </ion-card>

</ion-content>