<ion-header [translucent]="true">
  <ion-toolbar>
    <div style="display: flex;">
      <img src="/assets/img/Logo.png" alt="Logo" style="height: 50px; margin-right: 10px;" [routerLink]="['/home']"
        (click)="showLoading()">
      <ion-title>Inicio</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar style="margin-top: 20px;">
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" style="margin-top: 20px;">
    

  </div>
</ion-content>