<ion-header [translucent]="true">
  <ion-toolbar>
    <div style="display: flex;">
      <img src="/assets/img/Logo.png" alt="Logo" style="height: 50px; margin-right: 10px;" [routerLink]="['/home']"
        (click)="showLoading()">
      <ion-title>Inicio</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Canchas DUOC UC</ion-card-title>
      <ion-card-subtitle style="margin-bottom:15px;">Av. Calle Local 0552</ion-card-subtitle>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3328.92501908538!2d-70.66336232430909!3d-33.45125997338926!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c507ab673c35%3A0xaf26002b0a7e53df!2sEntretiempo!5e0!3m2!1ses!2scl!4v1725992393201!5m2!1ses!2scl"
        width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </ion-card-header>
    <ion-card-content>
      <p>8 canchas de futbol existentes</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Multicancha Valle lo Campino</ion-card-title>
      <ion-card-subtitle>Av. Valle lo Campino Norte 555</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>1 Multicancha existente</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Gimnasio Municipal de Quilicura</ion-card-title>
      <ion-card-subtitle>Av. Diego Silva 2521</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>1 Multicancha existente</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Gimnasio EntreTiempo</ion-card-title>
      <ion-card-subtitle>Av. Ejercito Libertador 341</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>1 Multicancha existente</p>
    </ion-card-content>
  </ion-card>

</ion-content>